@font-face {
  font-family: "FreePixel";
  src: url("fonts/FreePixel.ttf");
}

canvas {
    cursor: default;
    outline: none;
}

body {
    background-color: #000000;
}

.superdev {
    color: rgb(37,37,37);
    text-shadow: 0px 1px 1px rgba(250,250,250,0.1);
    font-size: 50pt;
    display: block;
    position: relative;
    text-decoration: none;
    background-color: rgb(83,87,93);
    box-shadow: 0px 3px 0px 0px rgb(34,34,34),
                0px 7px 10px 0px rgb(17,17,17),
                inset 0px 1px 1px 0px rgba(250, 250, 250, .2),
                inset 0px -12px 35px 0px rgba(0, 0, 0, .5);
    width: 70px;
    height: 70px;
    border: 0;
    border-radius: 35px;
    text-align: center;
    line-height: 68px;
}

.superdev:active {
    box-shadow: 0px 0px 0px 0px rgb(34,34,34),
                0px 3px 7px 0px rgb(17,17,17),
                inset 0px 1px 1px 0px rgba(250, 250, 250, .2),
                inset 0px -10px 35px 5px rgba(0, 0, 0, .5);
    background-color: rgb(83,87,93);
    top: 3px;
    color: #fff;
    text-shadow: 0px 0px 3px rgb(250,250,250);
}

.superdev:hover {
    background-color: rgb(100,100,100);
}

#text-input-window-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#text-input-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    gap: 4px;
    background-color: #000000;
    padding: 8px;
    width: 30%;
    border-color: #404040;
    border-style: solid;
    border-width: 2px;
}

#text-input-window-text-field {
    flex: 1;
    background-color: #808080;
    border-color: #404040;
    border-style: solid;
    border-width: 2px;
    font-family: "FreePixel";
    color: #ffffff;
}

.text-input-window-button {
    background-color: #606060;
    border-color: #404040;
    border-style: solid;
    border-width: 2px;
    width: 24px;
    height: 24px;
    color: #ffffff;
}

.text-input-window-button:active {
    background-color: #808080;
    border-color: #303030;
}