@font-face {
  font-family: "FreePixel";
  src: url("/static/fonts/FreePixel.ttf");
}

* {
  font-family: "FreePixel";
  color: lightgray;
}

html, body {
    height: 100%;
}

body {
    background-color: black;
}

button {
    background-color: gray;
}

.navigation_bar {
    display: flex;
    justify-content: space-between;
}

a.navigation_button {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: dimgrey;
}

h1, h2 {
  text-align: center;
}

p.text {
    text-indent: 2em;
    text-align: justify;
    padding-left: 8px;
    padding-right: 8px;
}

p.centered_text {
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid lightgray;
}

tbody > tr:nth-child(odd) {
    background-color: #151010;
}

th, td {
  border: 1px solid lightgray;
  padding: 4px;
}

th {
    background-color: dimgrey;
}

/* Home */

img.cover {
    object-fit: contain;
    width: 300px;
}

th.leaderboard_column_position {
    width: 72px;
}
th.leaderboard_column_player {
    width: auto;
}
th.leaderboard_column_score {
    width: 96px;
}

td.rank_icon {
    text-align: center;
}

img.rank {
    width: 32px;
    height: 20px;
    image-rendering: pixelated;
    vertical-align: middle;
}

img.avatar {
    width: 20px;
    height: 20px;
    image-rendering: pixelated;
    vertical-align: middle;
}

span.short_rank {
    width: 72px;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

span.username {
    vertical-align: middle;
}

img.error {
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
}

.error_content_container {
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    text-align: center;
}

/* Chat */

th.chat_column_player {
    width: 172px;
}

th.chat_column_message {
    width: auto;
}

.chat_message_cell {
    overflow-wrap: anywhere;
}

.chat_navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

/* Mobile */

@media screen and (max-width: 480px) {
    a.navigation_button {
        font-size: small;
    }

    span.short_rank {
        width: 48px;
    }

    th.leaderboard_column_score {
        width: 64px;
    }

    th.chat_column_player {
        width: 128px;
    }

    tr.leaderboard_record_row, tr.chat_message_row {
        font-size: xx-small;
    }
}